USE [MIDAI_ESFE]
GO
/****** Object:  Table [dbo].[ASIGNACION_DE_MODULO]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_DE_MODULO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [bigint] NULL,
	[ID_MODULO] [bigint] NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVALUACIONES]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVALUACIONES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_MODULO] [bigint] NULL,
	[FECHA_REGISTRO] [datetime] NULL,
	[DETALLE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[ID_PERSONA] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTAS]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTAS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_EVALUACIONES] [bigint] NULL,
	[ID_ASIGNACION_DE_MODULO] [bigint] NULL,
	[NOTA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[APELLIDOS] [varchar](60) NOT NULL,
	[ID_TIPO_PERSONA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 04/08/2020 21:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ASIGNACION_DE_MODULO]  WITH CHECK ADD FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID])
GO
ALTER TABLE [dbo].[ASIGNACION_DE_MODULO]  WITH CHECK ADD FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[EVALUACIONES]  WITH CHECK ADD FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID])
GO
ALTER TABLE [dbo].[MODULO]  WITH CHECK ADD FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD FOREIGN KEY([ID_ASIGNACION_DE_MODULO])
REFERENCES [dbo].[ASIGNACION_DE_MODULO] ([ID])
GO
ALTER TABLE [dbo].[NOTAS]  WITH CHECK ADD FOREIGN KEY([ID_EVALUACIONES])
REFERENCES [dbo].[EVALUACIONES] ([ID])
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID])
GO
